.Detail{
	text-align: center;
	margin: 2em auto;
	width: fit-content;
	max-width: 100%;
}

.Detail .Content{
	max-width: 30em;
	background: white;
	padding: 2em;
	max-height: calc(100vh - 8em);
	overflow-y: scroll;
}

.Detail .Content img{
	width: 100%;
}